::ng-deep .mat-dialog-container {
    box-shadow: none !important;
    background: #f4f4f4 !important;
    overflow: inherit !important;
    padding: 0px !important;
}

.bank-text {
    font-size: 20px;
    color: #5a5a5a;
    font-family: "Roboto Medium";
    margin-top: 5px;
    background: #f4f4f4;
    border-radius: 4px 4px 0px 0px;
}

.cancel-btn {
    background-color: #fff !important;
    color: black !important;
    font-size: 12px !important;
}

.add-btn {
    background-color: #005760 !important;
    color: #fff !important;
    font-size: 12px !important;
}

.bnk-header {
    border-bottom: 1px solid #a3a0a024;
    padding: 10px 12px;
}

::ng-deep .frm-head {
    background-color: #f4f4f4;
    padding: 20px 22px !important;

    .mat-form-field-appearance-outline .mat-form-field-outline {
        background: white;
        color: transparent !important;
        top: 1.25em !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-end,
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border: none !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 2vh 0 1vh 0 !important;
    }
}