<div style="background: #fff !important;">
    <div class="modal-header">
        <h4 style="font-size: large !important;" class="modal-title">View Repeats</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeDialog('Hide')"><span
                aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped ">
            <thead class="v2-h-lt rob-b _12px l-c">
                <tr>
                    <th>Name</th>
                    <th>Total Repeats</th>
                    <th>Remaining Repeats</th>
                    <th style="text-align: center;">Due</th>
                </tr>
            </thead>
            <tbody class="l-c">
                <tr *ngFor="let group of repeatList">
                    <td>
                        {{this.modalData.name | titlecase}}</td>
                    <td style="text-align: center;">{{group.TotalRepeats}} </td>
                    <td style="text-align: center;">{{group.RemainingRepeats}} </td>
                    <td style="text-align: center;">{{group.DaysRemaining}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button style="width: 18%;height: 35px;" type="button" mat-raised-button class="light-button rob _12px fw-600"
            (click)="closeDialog('Hide')">Close</button>
    </div>
</div>