.td-padding {
    padding: 10px 0px;
}

.img-cloum-wid {
    width: 16%;
}

.detail-cloum-wid {
    width: 75%;
    padding: 7px;
}

.mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pl-20px-pr-24px {
    padding-right: 43px;
    padding-left: 20px;
}

.holiday-scrl {
    max-width: 100%;
    max-height: 620px
}

.pl-20px {
    padding-left: 20px
}

.mr-5px {
    margin-right: 5px;
}

.tbl-w-97p {
    width: 97%;
}

.h-3rem {
    height: 3rem;
}

.h-40-w-40 {
    height: 40px;
    width: 40px
}

.header-holiday {
    font-size: inherit;
    color: rgb(34, 34, 43);
    /* color: #5a5a5a; */
    font-weight: 700;
}