<body>
    <div class="limiter">
        <div fxLayout="row">
            <!-- <perfect-scrollbar style="max-width: 100%; max-height: 100%; "> -->
            <div class="container-login100">
                <div class="wrap-login100" style="overflow: auto;">
                    <div class="login-pill">
                        <div class="pill-img">
                            <img class="login-img-pap" src="../../../../assets/packapill-icons/PharmacyPortalLogin.svg">
                        </div>
                    </div>

                    <!-- Background Image -->
                    <!-- <div class="login100-more" style="background-image: url('assets/media/bg/bg-4.jpg');">
                        <div style="text-align: center;min-height: 100%;margin-top: 25%;">
                            <div fxLayout="column">
                                <h1 class="mb-4" style=" color: white;">
                                    Welcome To Packapill-Pharmacy Portal
                                </h1>
                                <span class="mb-2" style=" color: white;">- Here You Can Buy Your Health
                                    Products</span>
                                <div style="align-items: flex-end;">
                                    © {{today|date:'yyyy'}} Packapill-Pharmacy Portal
                                </div>
                            </div>

                        </div>
                    </div> -->

                    <!-- Routing Components -->
                    <router-outlet></router-outlet>


                </div>
            </div>
            <!-- </perfect-scrollbar> -->
        </div>

    </div>

</body>