.padding_bot {
    padding-bottom: 0px !important;
}

.hed {
    display: flex !important;
    /* border-width: 0; */
    /* border-bottom-width: 1px; */
    /* border-style: solid; */
    border: none !important;
    align-items: center !important;
    box-sizing: border-box !important;
}

.mat-row {
    border: none !important;
}

.mat-header-row {
    border: none !important;
}

.invite-count {
    margin-right: 0px !important;
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: #005760 !important;
}

.top {
    height: 500px;
}

.mat-paginator {
    border-radius: 0px 0px 12px 0px;
}

.kt-wrapper {
    background-color: #f4f4f4;
}

.tp-body {
    box-shadow: 0px 0px 15px 0px #cfcfcf;
    border-radius: 12px;
}

.scrl-cls {
    max-width: 100%;
    border-radius: 12px 12px 0px 0;
}

.mat-table__bottom {
    background-color: #fff;
    border-radius: 0px 0 12px 12px;
}

.bck-clr {
    background-color: #005760;
}

::ng-deep .mat-paginator-range-actions {
    margin-top: 14px !important;
}

.header {
    padding: 2% !important;
}

.b-line {
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: transparent !important;
    }
}

.pag-mat {
    ::ng-deep .mat-paginator-page-size {
        display: none;
    }

    ::ng-deep .mat-icon-button {
        background-color: #005760;
        color: #fff;
        margin-left: 12px;
    }
}

::ng-deep .parent-body {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        // margin-top: 4px;
        color: #005760 !important;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

.table td {
    vertical-align: 0px !important;
    border-top: 1px solid #ebedf2;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.arw {
    ::ng-deep .mat-select-arrow {
        border: none;
    }
}

::ng-deep .mat-paginator-outer-container {
    .mat-paginator-container {
        justify-content: center;
    }
}

.tbox {
    background-color: #f7f7f7;
    height: 35px;
    color: #9e9e9e;
}

.p-l-46 {
    padding-left: 46px;
}

.ex-btn {
    height: 37px;
    border: none;
    width: 10%;
    border-radius: 4px;
    color: white;
    text-align-last: center;
    min-width: 115px !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    ::ng-deep .mat-select-arrow {
        color: white;
        margin: 4px 0px 0px 0px !important;
        margin-left: 50%;
    }
}

.lbl-cls {
    margin-bottom: 0px;
    margin-left: 4px;
}

::ng-deep.cdk-overlay-pane .dp-dn {
    margin-top: 37px;
    margin-left: -72px;
    width: auto;
}