<div class="slide-top" style="background: #f8f8f8;height: 100%;">
    <div class="slide-container">
        <div class="row" style="text-align-last: end;
        padding: 20px 0px 14px 20px;
        background-color: #f7f8fa;
        border-bottom: 1px solid #ebedf2;">
            <div style="width: 78%;    text-align-last: center;
        padding-left: 50px;">
                <span style="color:  #005760;
        font-size: 18px;
        font-family: Roboto Bold;">Set Your Password
                </span>
            </div>

            <div>
                <button (click)="closeDialog()" mat-raised-button class="rob-b _11px cls-btn-fp h-w-btn01"><img
                        style="margin-right: 5px;"
                        src="../../../../../assets/packapill-icons/multiply-16.png">Close</button>
            </div>

        </div>
        <div style="padding: 20px 0px 0px 140px;">
            <div>
                <form [formGroup]="pwdForm" autocomplete="nope">
                    <div class="form-group column" style="padding-top: 30px;">
                        <div style="padding-top: 0px;">
                            <mat-form-field appearance="legacy" class="login-tbg rob _11px l-c f_pass">
                                <mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
                                <input (focus)="commonService.setAutoFillOff($event)" matInput
                                    [type]="hide ? 'text':'password'" formControlName="password" autocomplete="nope" />
                                <button mat-icon-button matSuffix>
                                    <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                                <mat-error *ngIf="isControlHasError('password','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','minLength')">
                                    <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','maxLength')">
                                    <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div style="padding-top: 10px;">
                            <mat-form-field appearance="legacy" class="login-tbg rob _11px l-c f_pass">
                                <mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
                                <input matInput (focus)="commonService.setAutoFillOff($event)"
                                    [type]="hide1 ? 'text':'password'" formControlName="confirmpassword"
                                    autocomplete="nope" />
                                <button mat-icon-button matSuffix>
                                    <mat-icon (click)="hide1 = !hide1">{{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                                <mat-error *ngIf="isControlHasError('password','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','minLength')">
                                    <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','maxLength')">
                                    <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="padding:5px 35px">
                        <button class="dark-petrol rob-b _11px white cls-btn-fp h-w-btn02"
                            (click)="savePwd(pwdForm.value.password, pwdForm.value.confirmpassword,$event)"><span
                                style="margin-left: 5px;">Save
                                Password</span> <img style="margin-left: 10%;"
                                src="../../../../../assets/orderv2/packapill_portal_icons/Elements/White_2.svg">
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>