<div *ngIf="edited" class="top" style="background-color: #f4f4f4;">
    <div class="dialog-header sec-div2" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="start">
            <h3 class="headerborder">
                <p class="header-text">OTC-Price</p>
            </h3>
        </div>
        <div>
            <button mat-raised-button (click)="submit()" class="mr-4"><img style="margin-right: 5px;"
                    src="../../../../../assets\orderv2\packapill_portal_icons\Elements\Petrol.svg">Update</button>

            <button mat-raised-button (click)="close()" [mat-dialog-close]>
                <img style="margin-right: 5px;" src="../../../../../assets/packapill-icons/multiply-16.png">Close
            </button>
        </div>
    </div>
    <form name="testform" [formGroup]="testform" novalidate name="pharmacydetail" fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.md="column" style="margin-left: 60px;">
            <div *ngIf="testdata.user.RoleId==1 ||testdata.user.RoleId==2||testdata.user.RoleId==5 "
                class="mr-4 cls-top">
                <p>Pharmacy<small style="color: red;">*</small></p>
                <mat-form-field type="text" class="pharmtxt-area" appearance="outline">
                    <input matInput formControlName="Pharmacy" placeholder="Please enter pharmacy" required>
                </mat-form-field>
            </div>
            <div class="mr-4 cls-top">
                <p>BarCode<small style="color: red;">*</small></p>
                <mat-form-field type="text" [ngClass]="[style?'wid-20':'wid-10']" class="pharmtxt-area "
                    appearance="outline">
                    <input matInput formControlName="Ean" placeholder="Please enter Barcode" required>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.md="column" style="margin-left: 60px;">
            <div class="mr-4 cls-top">
                <p>Price<small style="color: red;">*</small></p>
                <mat-form-field class="pharmtxt-area" appearance="outline">
                    <input matInput formControlName="Price" (focusout)="setDecimal(1, $event)"
                        placeholder="Please enter price" (keypress)="commonServices.validateDigit($event)" name="price"
                        required>
                </mat-form-field>
            </div>
            <div class="mr-4 cls-top">
                <p>Stock<small style="color: red;">*</small></p>
                <mat-form-field type="text" class="pharmtxt-area" appearance="outline">
                    <input matInput formControlName="Stock" placeholder="Please enter Stock"
                        (keypress)="commonServices.validateDigit($event)" required>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>