<form class="login100-form" [formGroup]="forgotPasswordForm" autocomplete="nope">

    <div class="login100-form-img" style=" min-width: 100%; background-image: url('assets/media/bg/bg-4.jpg');">
        <div style="text-align: center;">
            <div fxLayout="column">
                <span style=" color: white; font-size: xx-large;">
                    Welcome To Hola Health Portal
                </span>
                <span style=" color: white;">- Here You Can Buy Your Health
                    Products</span>
            </div>

        </div>
    </div>

    <span class="login100-form-title p-b-43 mb-4">
        Email Verification
    </span>


    <div class="form-group">

        <mat-form-field appearance="outline">
            <mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
            <input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email"
                autocomplete="nope" />
            <mat-error *ngIf="isControlHasError('email','required')">
                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','email')">
                <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','minLength')">
                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','maxLength')">
                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="flex-sb-m w-full p-t-3 p-b-32 mb-4">
        <div>
            <a routerLink="/auth/login" class="txt1">
                Back To Login?
            </a>
        </div>
    </div>


    <div class="container-login100-form-btn">
        <button routerLink="/auth/login" (click)="submit()" class="login100-form-btn">
            Submit
        </button>
    </div>

</form>