<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
   <system.webServer>
   <httpProtocol>
 <customHeaders>
 <add name="Cache-Control" value="no-cache, no-store" /> 
 </customHeaders>
 </httpProtocol>
    <rewrite>
      <rules>

          <!--START REDIRECT TO HTTPS-->
           <rule name="Redirect to https" stopProcessing="true">
                <match url=".*" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <!--END REDIRECT TO HTTPS-->

            <!--START REDIRECT TO ROOT-->
            <rule name="Angular" stopProcessing="true">
              <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
           <!--END REDIRECT TO ROOT-->



            <!-- <rule name="On-Prem" stopProcessing="true">
              <match url="^(.*)$" />
               <conditions>
                  <add input="{HTTP_HOST}" pattern="pharmacy.packapill.com/*" />
               </conditions>
               <action type="Redirect" url="https://pharmacy.hola.health/{R:1}" />
            </rule> -->

         </rules>
      </rewrite>

       <!-- <httpRedirect enabled="true" destination="https://pharmacy.hola.health/" httpResponseStatus="Permanent" /> -->
    </system.webServer>
 </configuration>