.iinput1 {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    padding-left: 2vh !important;
    border: none;
    height: 5vh;
}

.card_fields {
    margin: 2vh;
}

.card_fields1 {
    margin-top: 0.5vh;
    margin-left: 2vh;
}

.disclaim {
    font-family: "Roboto Medium";
    font-size: x-small;
}

.card_fields2 {
    width: 35vh;
}

.cursor-pointer {
    cursor: pointer;
}